{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div class='row'>
    <div class="col-12 text-center py-5 col-lg-8 mx-auto">
            <h1 class='my-1 '>
              <div class="alert alert-success alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" class="text-center">&times;</span>
                </button>
                <h2>Password successfully changed!</h2>
              </div>
            <a href="{% url 'products:list'%}">click here to back home</a>
      </div>
</div>
{% endblock %}
