{% extends 'base.html'%}
{% load static %}
{% block title %} {% endblock %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Man must explore, and this is exploration at its greatest</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <h2 class="section-heading">{{ object.title }}</h2>
          {% if object.sub_title %}
          <h3 class="post-subtitle text-muted font-italic text-secondry">{{ object.sub_title }}</h3>
          {% endif %}
          <p>{{ object.body }}</p>

          <!-- <a href="#">
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
          </a> -->
           <div class="font-italic text-muted">Posted by
            <span>{{ object.author }} on {{ object.publish }} </span>
            </div>
            <div>
              <span class="text-bold">Comments : 0</span>
              <form method="post">
                {% csrf_token %}
                <div class="form-row">
   <div class="form-group col-md-12">
     <label for="inputCity"></label>
     <input type="text" class="form-control" placeholder="Comments">
     <br>
      <button type="submit" class="btn btn-primary m-r">comments</button>
   </div>

                </div>

              </form>
            </div>
            <p></p>

        </div>

      </div>
    </div>
  </article>
  <hr>

{% endblock %}
