{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block title %}Email Verification {% endblock %}

{% block content %}
<div class="container">
  <br>
  <div class="alert alert-warning" role="alert">
   <h4 class="alert-heading"><strong>Welcome To EasyDealIndia.com !</strong></h4>
   <p>Aww yeah, your registration have been done successfully for this site,a confirmation mail sent to your email address,
     <br><strong>Please check your email address.<strong></p>
   <hr>
   <p class="mb-0"><strong>Once your account activated for this site then you can login.<strong></p>
 </div>


</div>
{% endblock %}
